* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: "Georgia";
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.overlay-container {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.compose-message {
	position: absolute;
	background-color: #f6f6f6;
	border-radius: 3px;
	padding: 34px 81px;
	opacity: 0;
	pointer-events: none;
}

.compose-message .header {
	display: block;
	font-size: 24px;
	font-family: "Verdana";
	font-weight: lighter;
	margin-bottom: 35px;
}

.compose-message .name {
	display: block;
	border: none;
	background-color: white;
	font-family: "verdana";
	font-size: 18px;
	padding: 10px;
	outline: none;
	box-shadow: 2px 2px 6px rgba(0,0,0,.3);
	margin-bottom: 24px;
}

.compose-message .message {
	display: block;
	border: none;
	background-color: white;
	font-size: 16px;
	font-family: "verdana";
	outline: none;
	padding: 10px;
	box-shadow: 1px 1px 6px rgba(0,0,0,.3);
	margin-bottom: 24px;
	resize: none;
	width: 100%;
	height: 54px;
}

.compose-message .send {
	border: none;
	display: block;
	padding: 18px;
	font-size: 18px;
	width: 100px;
	cursor: pointer;
}

.message-feed {
	position: absolute;
	background-color: white;
	border-radius: 3px;
	padding: 34px 56px;
	width: 46%;
	height: 72vh;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 0;
	pointer-events: none;
}

.message-feed .compose {
	font-size: 18px;
	position: absolute;
	border: none;
	background-color: #ddd;
	outline: none;
	padding: 16px;
	box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.message-feed .message-list {
	position: relative;
	height: 80%;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	margin-top: 72px;
	box-sizing: border-box;
	padding-top: 24px;
	padding-left: 18px;
}

.message-list .list-item {
	position: relative;
	width: 89%;
	margin-bottom: 24px;
}

.message-list .list-item .username {
	margin-bottom: 4px;
	color: #222;
}

.module-active {
	opacity: 1;
	pointer-events: auto;
}



